In [1]:
1num = 1

SyntaxError: invalid decimal literal (1187545790.py, line 1)

In [2]:
num = 1

In [3]:
_num2 = 3

In [4]:
sumOfCharcters = 0

In [5]:
sum_of_charcters = 0

In [6]:
Age = 2

In [7]:
age = 2

In [8]:
AGE = 3

In [9]:
str1 = """this is multi-line
string"""

In [3]:
str2 ='''this is another example 
of 
multi-line string'''

In [ ]:
def countOfCharacters(str1):
    dict1 = {}
    
    for char in str1:
        if char not in dict1:
            dict.

In [11]:
dict1 = {1:'a'}

In [17]:
dict.update(1)

TypeError: descriptor 'update' for 'dict' objects doesn't apply to a 'int' object

In [13]:
def replaceVowelsWithSpecialCharacters(str1):
    input_str = list(str1)
    output_str = []
    
    for char in input_str:
        if char in ['A','E','I','O','U','a','e','i','o','u']:
            output_str.append('@')
        else:
            output_str.append(char)
            
    output_str = "".join(output_str)
    print(str(output_str))
    
    return 1

In [23]:
def replaceVowelsWithSpecialCharacters(str1):
    input_str = list(str1)
    output_str = []
    
    for char in input_str:
        if char in ['A', 'E', 'I', 'O', 'U', 'a', 'e', 'i', 'o', 'u']:
            output_str.append('@')
        else:
            output_str.append(char)
    
    output_str = ''.join(output_str)  # Convert the list to a string
    print(output_str)
    return 1

In [14]:
replaceVowelsWithSpecialCharacters(str2)

th@s @s @n@th@r @x@mpl@
@f
m@lt@-l@n@ str@ng

1

In [17]:
list1 = [1,2,3]

In [26]:
str1 = str(list1)

In [27]:
str1

'[1, 2, 3]'

In [11]:
str1 = ['t', 'h', '@', 's', ' ', '@', 's', ' ', '@', 'n', '@', 't', 'h', '@', 'r', ' ', '@', 'x', '@', 'm', 'p', 'l', '@', ' ', '\n', '@', 'f', ' ', '\n', 'm', '@', 'l', 't', '@', '-', 'l', '@', 'n', '@', ' ', 's', 't', 'r', '@', 'n', 'g']

In [12]:
str(str1)

"['t', 'h', '@', 's', ' ', '@', 's', ' ', '@', 'n', '@', 't', 'h', '@', 'r', ' ', '@', 'x', '@', 'm', 'p', 'l', '@', ' ', '\\n', '@', 'f', ' ', '\\n', 'm', '@', 'l', 't', '@', '-', 'l', '@', 'n', '@', ' ', 's', 't', 'r', '@', 'n', 'g']"

In [15]:
"".join(str1)

'th@s @s @n@th@r @x@mpl@ \n@f \nm@lt@-l@n@ str@ng'

In [16]:
t = (3,4,5)
str(t)

'(3, 4, 5)'

In [17]:
"".join(t)

TypeError: sequence item 0: expected str instance, int found

In [18]:
list1 = [2,3,4]

In [19]:
type(list1)

list

In [22]:
s = {5,2,3,3}

In [23]:
s

{2, 3, 5}

In [33]:
print(type(s))

<class 'set'>

In [28]:
d = {1:"est", 2:"pst"}

In [32]:
print(type(d))

<class 'dict'>

In [29]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [31]:
print(type(thisdict))

<class 'dict'>

In [34]:
i = 0

In [35]:
print(type(i))

<class 'int'>

In [37]:
import random

In [43]:
random.randrange(0,9)

6

In [44]:
import numpy as np

In [47]:
np.random.rand(10)

array([0.74617246, 0.85160538, 0.38792612, 0.83065677, 0.70200094,
       0.18793899, 0.0697879 , 0.76029149, 0.63875199, 0.47845228])