In [1]:
num = 10

In [7]:
type(num)

str

In [6]:
num = "hgnjk"

In [8]:
num2 = 2

In [11]:
num1 = num * num2

In [12]:
num1

'hgnjkhgnjk'

In [13]:
print(num1)

hgnjkhgnjk

In [14]:
print("the num1 is",num)

the num1 is hgnjk

In [16]:
print(f'the num1 {num1} is {num}')

the num1 hgnjkhgnjk is hgnjk

In [17]:
num1[0]

'h'

In [19]:
num[-2]

'j'

In [20]:
num[1:3]

'gn'

In [21]:
num1[::3]

'hjgk'

In [ ]:
list - [] - muttable
tuple -() - immutable
set - {} - order preserve, mutable
dict -{}, key value - mutable

In [22]:
set_num = {78,44,11,99,22}

In [25]:
set_num.remove(44)

In [26]:
set_num

{11, 22, 78, 99}

In [28]:
set_num.add(18)

In [29]:
set_num

{11, 18, 22, 78, 99}

In [36]:
list1  = tuple(range(0,9))

In [37]:
list1

(0, 1, 2, 3, 4, 5, 6, 7, 8)

In [41]:
for num in num1:
    print(num)

h
g
n
j
k
h
g
n
j
k

In [45]:
list(range(3,9,2))

[3, 5, 7]

In [46]:
list(range(8))

[0, 1, 2, 3, 4, 5, 6, 7]

In [47]:
list(range(8,12))

[8, 9, 10, 11]

In [48]:
list(range(2,10,5))

[2, 7]

In [49]:
for num in range(5):
    print(num)
else:
    print("finally")

0
1
2
3
4
finally

In [65]:
def test(l):
    print(list1)

In [67]:
test(list1)

(0, 1, 2, 3, 4, 5, 6, 7, 8)

In [1]:
def fact(num):
    if num == 0 or num == 1:
        return 1
    else:
        return num * fact(num - 1)

In [2]:
fact(3)

6

In [5]:
x = lambda a,b: a+b

In [6]:
x(6,7)

13

In [3]:
if = [2,3,4]

SyntaxError: invalid syntax (1888112986.py, line 1)

In [1]:
l1 = list(range(5))

In [13]:
i = bytes([65])

In [7]:
type(i)

bytes

In [8]:
print(i)

b'A'

In [12]:
i = bytes([64])

In [9]:
# Creating a bytearray
my_bytearray = bytearray(b'Hello, World!')

# Creating a memoryview from the bytearray
mv = memoryview(my_bytearray)

# Accessing and modifying elements through memoryview
print(mv[0])  # Output: 72 (ASCII value of 'H')
mv[0] = 87    # Changing the first byte to ASCII value for 'W'

# The original bytearray is modified through memoryview
print(my_bytearray)  # Output: bytearray(b'Wello, World!')

72
bytearray(b'Wello, World!')

In [ ]:
# Bytes example
byte_str = b'hello'  # Immutable
print(byte_str[0])   # Accessing elements

# Bytearray example
byte_array = bytearray(b'hello')  # Mutable
byte_array[0] = 87  # Changing a byte
print(byte_array)
byte_array.extend(b' world')  # Extending the bytearray
print(byte_array)

In [11]:
s1 = "A"
x = int(s1)

TypeError: 'list' object is not callable

In [14]:
# Bytes example
byte_str = b'hello'  # Immutable
print(byte_str[0])   # Accessing elements

# Bytearray example
byte_array = bytearray(b'hello')  # Mutable
byte_array[0] = 87  # Changing a byte
print(byte_array)
byte_array.extend(b' world')  # Extending the bytearray
print(byte_array)

104
bytearray(b'Wello')
bytearray(b'Wello world')

In [15]:
byte_str = b'hello'  # Immutable
print(byte_str[0])

104

In [16]:
byte_str[0] = b'r'

TypeError: 'bytes' object does not support item assignment

In [20]:
txt = "this {2} a {0} {1}"
a = "is"
b = "python"
c = "exercise"

print(txt.format(a,b,c))

this exercise a is python

In [22]:
l1 = list((2,3,3,1))

In [23]:
type(l1)

list

In [24]:
t = (2,3,3,1)

In [26]:
type(list(t))

list

In [30]:
l = ['a','b','c']

In [28]:
l[1] = ['f','r']

In [29]:
l

['a', ['f', 'r'], 'c']

In [38]:
l = ['a','b','c']

In [39]:
#change items
l[1:2] = ['f','r']

In [33]:
l

['a', 'f', 'r', 'c']

In [34]:
l[1:2]

['f']

In [41]:
#change range of items
l[1:3] = 'd'

In [42]:
l

['a', 'd', 'c']

In [48]:
#add new item at specified index
l.insert(1,'y')

In [44]:
l

['a', 'y', 'd', 'c']

In [45]:
#add new item at end of list
l.append('r')

In [46]:
l

['a', 'y', 'd', 'c', 'r']

In [49]:
# Extend - to add elements of a list from another list
l1 = [1,2,3]
l2 = [4,5,6]
l1.extend(l2)

In [50]:
l1

[1, 2, 3, 4, 5, 6]

In [51]:
l2

[4, 5, 6]

In [61]:
l1 = [1,2,3]
l2 = [4,5,6]
l2.extend(l1)

In [62]:
l2

[4, 5, 6, 1, 2, 3]

In [54]:
#extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.)
t = (3,4,1,3)

In [63]:
l2.extend(t)

In [64]:
l2

[4, 5, 6, 1, 2, 3, 3, 4, 1, 3]

In [65]:
#remove - deletes the specified value from the list 
#if there are multiple values in that list for the specified value, it then removes the first occurrence of that value from the list

l2.remove(6)

In [66]:
l2

[4, 5, 1, 2, 3, 3, 4, 1, 3]

In [67]:
l2.remove(3)

In [68]:
l2

[4, 5, 1, 2, 3, 4, 1, 3]

In [69]:
# pop - deletes the specified index from the list
# if index is not provided, deletes the last element from the list

l2.pop()

3

In [70]:
l2

[4, 5, 1, 2, 3, 4, 1]

In [71]:
l2.pop(3)

2

In [72]:
l2

[4, 5, 1, 3, 4, 1]

In [73]:
# del - deletes the specified indexed element from the list
#if index is not provided deletes the entire list(without square bracets)

del l2[2]

In [74]:
l2

[4, 5, 3, 4, 1]

In [76]:
del l2

In [77]:
l2

NameError: name 'l2' is not defined

In [78]:
#clear - removes all elements from the list but does not delete the list
l2 = [4, 5, 3, 4, 1]

In [79]:
l2.clear()

In [80]:
l2

[]

### List Methods
#### Change existing elements

1. Direct assignment - individual assignment, range assignment

#### Insertion

1. insert - adds single element at the specified index
2. append - adds element at end of list
3. extend - adds any iterable object(list,tuple,sets, dict) to the end of existing list

#### Deletion

1. remove - deletes the specified element from list
2. pop - deletes the specified indexed element from list
3. del - Deletes the specified indexed element from the list
4. clear - deletes all elements from the list but not the list

In [86]:
n = [3,4,5]

In [87]:
#list comprehension
[print(x) for x in n]

3
4
5

[None, None, None]

In [85]:
len(l2)

5

In [88]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [91]:
newlist = [x for x in thislist if 'a' in x]

In [92]:
newlist

['apple', 'banana']

In [94]:
newlist = [x.capitalize() for x in thislist]

In [95]:
newlist

['Apple', 'Banana', 'Cherry']

In [96]:
newlist = [x if x != "Banana" else "orange" for x in thislist]

In [97]:
newlist

['apple', 'banana', 'cherry']

In [100]:
newlist.append('kiwi')

In [101]:
newlist

['apple', 'banana', 'cherry', 'kiwi']

In [104]:
newlist = [x.capitalize() for x in newlist]

In [105]:
newlist.sort()

In [106]:
newlist

['Apple', 'Banana', 'Cherry', 'Kiwi']

In [108]:
newlist.insert(0,'chiku')

In [109]:
newlist

['chiku', 'Apple', 'Banana', 'Cherry', 'Kiwi']

In [110]:
newlist.sort()

In [111]:
newlist

['Apple', 'Banana', 'Cherry', 'Kiwi', 'chiku']

In [112]:
newlist.sort(reverse = True)

In [113]:
newlist

['chiku', 'Kiwi', 'Cherry', 'Banana', 'Apple']

In [114]:
newlist.sort(reverse = False)

In [115]:
newlist

['Apple', 'Banana', 'Cherry', 'Kiwi', 'chiku']

In [116]:
newlist.sort(key = str.lower)

In [117]:
newlist

['Apple', 'Banana', 'Cherry', 'chiku', 'Kiwi']

In [118]:
l = [4,2,8,0,-3]

In [122]:
def sq(x):
    return x*x

In [124]:
l.sort(key = sq)

In [125]:
l

[0, 2, -3, 4, 8]

In [126]:
l.reverse()

In [127]:
l

[8, 4, -3, 2, 0]

sort - default -> ascending
for descending order include reverse = true
by default, sort function sorts words starting with caps in the begining in order & then small letters
for case sensitive ordering, inlcude key = str.lower in sort()
we can also sort based on function, by including the function name in sort(key = func_name)

In [128]:
newlist.insert(1,23)

In [129]:
newlist.insert(4,3)

In [131]:
newlist

['Apple', 23, 'Banana', 'Cherry', 3, 'chiku', 'Kiwi']

In [132]:
newlist.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [133]:
#copying list 
l

[8, 4, -3, 2, 0]

In [135]:
l1 = l
# this js creates a reference l1 to same list & changes made on 1 would effect other
l1[0] = 3

In [136]:
l

[3, 4, -3, 2, 0]

In [137]:
l1

[3, 4, -3, 2, 0]

In [139]:
# to create a different copy of the list
l2 = l1.copy()

In [140]:
l2

[3, 4, -3, 2, 0]

In [141]:
#or

l3 = list(l1)

In [142]:
l3

[3, 4, -3, 2, 0]

Joining

In [143]:
l1 + l2

[3, 4, -3, 2, 0, 3, 4, -3, 2, 0]

In [145]:
print(l1.append(l2))

None

In [146]:
l1

[3, 4, -3, 2, 0, [3, 4, -3, 2, 0], [3, 4, -3, 2, 0]]

In [147]:
l2.extend(l3)

In [148]:
l2

[3, 4, -3, 2, 0, 3, 4, -3, 2, 0]

Tuples

In [1]:
t = (3,4,6)

In [4]:
t

(3, 4, 6)

In [2]:
t1 = list(t)

In [3]:
t1

[3, 4, 6]

In [5]:
t1.insert(2,8)

In [6]:
t1

[3, 4, 8, 6]

In [7]:
t = tuple(t1)

In [8]:
t

(3, 4, 8, 6)

In [9]:
t2 = (3)

In [10]:
type(t2)

int

In [11]:
t2 = (3,)

In [12]:
type(t2)

tuple

In [13]:
t4 = 8

In [14]:
t +=t4 # t4 is an integer

TypeError: can only concatenate tuple (not "int") to tuple

In [15]:
t += t2

In [16]:
t

(3, 4, 8, 6, 3)

In [17]:
del t

In [18]:
t

NameError: name 't' is not defined

In [26]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

In [22]:
red, green, *blue = fruits

In [23]:
red

'apple'

In [24]:
green

'mango'

In [25]:
blue

['papaya', 'pineapple', 'cherry']

In [27]:
red, *green, blue = fruits

In [28]:
red

'apple'

In [29]:
green

['mango', 'papaya', 'pineapple']

In [30]:
blue

'cherry'

In [31]:
t = (6,7)

In [32]:
t1 = (8,0)

In [33]:
t2 = t + t1

In [34]:
t2

(6, 7, 8, 0)

In [36]:
t2 = t1 * 2

In [37]:
t2

(8, 0, 8, 0)

In [39]:
t2.count(8)

2

In [41]:
t2.index(0)

1

In [42]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

In [43]:
thisset

{2, True, 'apple', 'banana', 'cherry'}

In [44]:
thisset = {"apple", "banana", "cherry", False, True, 0}

In [45]:
thisset

{False, True, 'apple', 'banana', 'cherry'}

In [46]:
thisset[0] = 1

TypeError: 'set' object does not support item assignment

In [47]:
thisset.add(4)

In [48]:
thisset

{4, False, True, 'apple', 'banana', 'cherry'}

In [49]:
s2 = {5,5,3,2}

In [50]:
s2

{2, 3, 5}

In [52]:
s2.update(thisset)

In [58]:
print(s2)

{False, True, 2, 3, 4, 5, 'banana', 'apple', 'cherry'}

In [56]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'mango', 'banana', 'apple', 'pineapple', 'cherry', 'papaya'}

In [59]:
thisset.remove('mango')

In [60]:
thisset

{'apple', 'banana', 'cherry', 'papaya', 'pineapple'}

In [61]:
thisset.remove('man')

KeyError: 'man'

In [62]:
thisset.discard('man')

In [63]:
thisset.pop(1)

TypeError: set.pop() takes no arguments (1 given)

In [64]:
thisset.pop()

'banana'

In [65]:
thisset.clear()

In [66]:
thisset

set()

In [67]:
thisset = {"apple", "banana", "cherry"}

In [68]:
del thisset

In [69]:
thisset

NameError: name 'thisset' is not defined

set methods

Add set elements
1. add() - includes the specified element to the set
2. update() - adds any iterable to the set syn - s.update(anyiterable) --> s would be updated with all elements & returns none

Remove set elements
1. remove - deletes specified element & throws error if element is not available
2. discard - deletes specified element if available
3. pop - deletes random element from set, since we cant access set with index if index is provided in pop() it throws error, it returns the deleted element
4. clear() - empties the set
5. del - deletes entire set

In [70]:
#joins

s1 = {2,9,7,4}
s2 = {4,0,3,12}

In [72]:
#union
s3 = s1.union(s2)
s3

{0, 2, 3, 4, 7, 9, 12}

In [74]:
#update 
s1.update(s2)
s1

{0, 2, 3, 4, 7, 9, 12}

In [76]:
#intersection_update

s1.intersection_update(s2)
s1

{0, 3, 4, 12}

In [78]:
#intersection
s3 = s1.intersection(s2)
s3

{0, 3, 4, 12}

In [82]:
#symmetric_difference_update

s1.symmetric_difference_update(s2)
s1

{0, 3, 4, 12}

In [86]:
#symmetric_difference
s3 = s1.symmetric_difference(s2)
s3

{0, 3, 4, 12}

In [87]:
##Dictionary 

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [88]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [89]:
thisdict['brand']

'Ford'

In [91]:
thisdict.get('model')

'Mustang'

In [92]:
thisdict.keys()

dict_keys(['brand', 'model', 'year'])

In [93]:
thisdict.values()

dict_values(['Ford', 'Mustang', 1964])

In [94]:
thisdict.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [95]:
thisdict['month'] = 'Jan'

In [96]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'month': 'Jan'}

In [99]:
if 'brand' in thisdict:
    print("exists")

exists

In [100]:
if 'ford' in thisdict:
    print("exists")

In [102]:
thisdict.update({'monday'})

ValueError: dictionary update sequence element #0 has length 6; 2 is required

In [103]:
thisdict.update({'day':'monday'})

In [104]:
thisdict

{'brand': 'Ford',
 'model': 'Mustang',
 'year': 1964,
 'month': 'Jan',
 'day': 'monday'}

In [108]:
thisdict.update(('day2','monday'))

ValueError: dictionary update sequence element #0 has length 4; 2 is required

remove dict items
1. pop() - deletes spoecified key item
2. popitem() - deltes the last item in dict
3. del - deletes specified item or entire dict would be delted
4. clear() - deletes all contents of the dict

In [109]:
thisdict

{'brand': 'Ford',
 'model': 'Mustang',
 'year': 1964,
 'month': 'Jan',
 'day': 'monday'}

In [110]:
thisdict.pop('month')

'Jan'

In [111]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'day': 'monday'}

In [113]:
thisdict.popitem()

('day', 'monday')

In [115]:
del thisdict['model']

In [116]:
thisdict

{'brand': 'Ford', 'year': 1964}

In [117]:
thisdict.clear()

In [118]:
thisdict

{}

In [119]:
del thisdict

In [120]:
thisdict

NameError: name 'thisdict' is not defined

In [122]:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [123]:
#copy dict

dict1 = thisdict # this js references to thisdict & hence anychanges made to one would effect the other

dict2 = thisdict.copy()

In [124]:
dict2

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [125]:
dict1

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [126]:
dict1['brand'] = 'f'

In [127]:
dict1

{'brand': 'f', 'model': 'Mustang', 'year': 1964}

In [128]:
thisdict

{'brand': 'f', 'model': 'Mustang', 'year': 1964}

In [129]:
dict3 = dict(thisdict)

In [133]:
#nested dict

ndict = {
    'e1': { 'n1':'p',
        'r1': 2
    },
 'e2': { 'n2':'pa',
        'r2': 4
    }}

In [134]:
ndict

{'e1': {'n1': 'p', 'r1': 2}, 'e2': {'n2': 'pa', 'r2': 4}}

In [135]:
dict1

{'brand': 'f', 'model': 'Mustang', 'year': 1964}

In [136]:
dict2

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [137]:
dict3

{'brand': 'f', 'model': 'Mustang', 'year': 1964}

In [139]:
ndict1 ={'d1': dict1, 'd2': dict2}

In [140]:
ndict1

{'d1': {'brand': 'f', 'model': 'Mustang', 'year': 1964},
 'd2': {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}}

In [141]:
str1 = """this is  a multi
line
string"""

In [153]:
def frequency(str1):
    charfreq ={}
    for char in str1:
        if char in charfreq:
            charfreq[char] += 1
        else:
            charfreq[char] = 1
            
    return charfreq

In [154]:
res = frequency(str1)

In [155]:
res

{'t': 3,
 'h': 1,
 'i': 5,
 's': 3,
 ' ': 4,
 'a': 1,
 'm': 1,
 'u': 1,
 'l': 2,
 '\n': 2,
 'n': 2,
 'e': 1,
 'r': 1,
 'g': 1}

In [151]:
dict1.items()

dict_items([('a', 0), ('e', 0), ('i', 0), ('o', 0), ('u', 0)])

In [152]:
def count_characters(string):
    char_frequency = {}
    for char in string:
        if char in char_frequency:
            char_frequency[char] += 1
        else:
            char_frequency[char] = 1
    return char_frequency

# Example usage:
input_string = "Hello, World!"
result = count_characters(input_string)
print(result)

{'H': 1, 'e': 1, 'l': 3, 'o': 2, ',': 1, ' ': 1, 'W': 1, 'r': 1, 'd': 1, '!': 1}